@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding: 0;
    overflow-x:hidden;

    background-image: url(../img/background-neutral.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* CARD */
.card {
    margin: 1.5rem;
    background-color: rgba(0, 0, 0, 0.538);
    border: 0;  
    font-family: 'Nunito', sans-serif;
}
img.card-img-top {
    height: 150px; 
    filter: grayscale(50%);
    object-fit: cover;
}
a {
    color: #fff;
}
div h5 img {
    height: 40px !important;
}
.card-body button {
    color: aliceblue;
}
.img-fluid {
    width: 100%;
}

/* MODAL */
.modal-header {
    padding-bottom: 0;
    padding-top: 0;
}
p {
    text-align: justify;
    text-justify: auto;
}

/* HEADER */
nav.navbar  {
    font-family: 'Press Start 2P', cursive;        
    background-color: rgba(0, 0, 0, 0.538);
    padding: 0;
}
ul.dropdown-menu.show {
    background-color: rgba(0, 0, 0, 0.806) !important;
}
a.dropdown-item {
    color: aliceblue !important;
}
a.dropdown-item:hover {
    color: aliceblue !important;
    background-color: rgba(80, 25, 117, 0.806) !important;
}
.navbar-brand {
    font-weight: bold;
    color: aliceblue;
}
nav button.btn {
color: aliceblue !important;
padding: 0;
height: 40px;
}

/* FOOTER */
nav.navbar.fixed-bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.818);
}
nav.navbar.fixed-bottom div.container-fluid{
    justify-content: space-between;
}
nav.navbar.fixed-bottom a.navbar-brand{
    margin: 0;
}
nav.navbar.fixed-bottom a img{
 height: 30px;
}

