@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    padding: 0;
    overflow-x:hidden;

    background-image: url(../img/background-light.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* CARD */
.card {
    margin: 1.5rem;
    background-color: rgba(105, 59, 131, 0.538);
    border: 0;  
}
img.card-img-top {
    height: 150px; 
    object-fit: cover;
}
a {
    color: #fff;
}
.card-body{
    padding-top:0 !important; 
    padding-bottom: 0 !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
div h5 img {
    height: 40px !important;
}
.card-body button {
    color: aliceblue;
}
.img-fluid {
    width: 100%;
}

/* MODAL */
.modal-header {
    padding-bottom: 0;
    padding-top: 0;
}
p {
    text-align: justify;
    text-justify: auto;
}

/* HEADER */
nav.navbar  {
    font-family: 'Press Start 2P', cursive;        
    background-color: rgba(105, 59, 131, 0.538);
    padding: 0;
}
ul.dropdown-menu.show {
    background-color: rgba(105, 59, 131, 0.796);
}
a.dropdown-item {
    color: aliceblue !important;
}
a.dropdown-item:hover {
    color: aliceblue !important;
    background-color: rgba(80, 25, 117, 0.806) !important;
}
.navbar-brand {
    font-weight: bold;
    color: aliceblue;
}
nav button.btn {
color: aliceblue !important;
padding: 0;
height: 40px;
}

/* FOOTER */
nav.navbar.fixed-bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:#8c58dae9 !important;
}
nav.navbar.fixed-bottom div.container-fluid{
    justify-content: space-between;
}
nav.navbar.fixed-bottom a.navbar-brand{
    margin: 0;
}
nav.navbar.fixed-bottom a img{
 height: 30px;
}


/* SETTINGS */
input.lightDark {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #e3d1ff;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  
  input.lightDark::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  
  input.lightDark:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  
  input.lightDark:checked {
    background: #29075c; 
  }
  
 
  /* LOGIN */
  .input-group {
    width: 250px !important;
  }
  .danger {
    color: rgb(249, 131, 131) !important;
  }