body {
    padding: 0;
    overflow-x:hidden;

    background-image: url(../img/background-light.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img.card-img-top {
    height: 200px; 
    object-fit: cover;
}

.card {
    margin: 1.5rem;
    background-color: rgba(0, 0, 0, 0.538);
    border: 0;
   
}

a {
    color: #fff;
}

div h5 img {
    height: 40px !important;
}

.card-body button {
    color: aliceblue;
}

.card-body button {
    color: aliceblue;
}

.img-fluid {
    width: 100%;
}

.modal-header {
    padding-bottom: 0;
    padding-top: 0;
}

p {
    text-align: justify;
    text-justify: auto;
}

nav.navbar  {
    background-color: rgba(0, 0, 0, 0.538);
    
}

.navbar-brand {
font-weight: bold;
    color: aliceblue;
}

nav button.btn {
color: aliceblue !important;
padding: 0;
height: 40px;
}

